@use 'variables' as *
.banner-principal-decorativo
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    left: -10%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: 10%
    width: 20%
  &-1
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 0
    width: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 400px !important
  padding-bottom: 0 !important
  @media screen and (min-width: $bp-min-xl)
    width: 475px !important

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
  background-color: $color-primario-p10 !important
  
.banner-principal .tarjeta
  background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important
  @media screen and (min-width: $bp-min-sm)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (min-width: $bp-min-lg)
    background-image: url("../assets/curso/portada/fondo-banner-principal.png") !important

.text-end 
    text-align: left !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/

.bg-terciario-t5
  background-color: $color-terciario-t5 !important
 